<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">

     <h3>Edit your delivery's details</h3>
     <%= render 'delivery_form' %>
     <hr>
     <%= link_to 'Home', root_path %>
     <!-- link to order path -->

   </div>
 </div>
</div>
