<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">

      <h3>Edit your delivery's details</h3>
      <%= render 'delivery_form' %>
      <hr>
      <%= link_to current_order_path do %>
        <div class="btn btn-success green-btn">Your order</div>
      <%end%>

      <%= link_to root_path do%>
        <div class="btn btn-success green-btn">Home</div>
      <%end%>
     <!-- link to order path -->

   </div>
 </div>
</div>
