<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">

     <h3>New Profile</h3>
     <%= render 'profiles_form' %>
     <hr>
     <%= link_to 'Return to main page', root_path %>

   </div>
 </div>
</div>
