.empty-basket {
  width:500px;
  margin: 50px auto;
  padding: 69px 0;
  h4 {
    color: #666;
    font-size: 35px;
    line-height: 18px;
    font-style: italic;
    padding-left: 91px;
    margin: 10px 0
  };
  hr {
    color: #666;
  }
  margin-bottom: 100px;
}

.basket_links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 175px;
  padding-left: 10px;
  a{
    margin-right: 10px;
  }
}


.full-basket {
  width:500px;
  padding: 49px 0;
  hr {
    color: #EEE;
    margin-bottom: 30px;
  }
}

.current-order-title {
  display:flex;
  justify-content: center;
  h2 {
    color: $brand-green;
  }
}


.current-order-flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.basket-lines {
  min-width: 500px;
  margin: auto;
}

.order-lines-titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-line-quantity {
  display:flex;
}
.order-quantity-btn {
  background: none;
  border: none;
  color: $brand-green;
}

.order-total {
  width: 700px;
  display: flex;
  justify-content: flex-start;
  font-weight: bolder;
  margin-bottom:20px;
}


.current-order-delivery-infos{
  width:500px;
  padding: 49px 40px;
  margin-right: 200px;
  hr {
    color: #EEE;
    margin-bottom: 10px;
  }
}

.current-order-delivery-title{
  display:flex;
  justify-content: center;
  h2 {
    color: $brand-green;
  }
}

.delivery-btn {
  margin-bottom: 0 !important;
}

.green-btn {
  margin-bottom: 10px;
}
.code-article {
  display: flex;
}

.full-order-flexbox {
  display: flex;
}

.full-checkout-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    text-decoration: none;
  }
  margin-bottom: 30px;
}

.checkout-btn {
  width: 192px;
  height: 174px;
  -webkit-clip-path: polygon(24% 0, 76% 0, 100% 53%, 100% 52%, 78% 100%, 25% 100%, 0 54%, 0 54%);
  background-color: $brand-green;
  color: white;
  letter-spacing: 6px;
  display:flex;
  justify-content: center;
  align-items: center;
}
