.empty-basket {
  width:500px;
  margin: 50px auto;
  padding: 69px 0;
  h4 {
    color: #666;
    font-size: 35px;
    line-height: 18px;
    font-style: italic;
    padding-left: 91px;
    margin: 10px 0
  };
  hr {
    color: #666;
  }
  margin-bottom: 100px;
}

.basket_links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 175px;
  padding-left: 10px;
  a{
    margin-right: 10px;
  }
}
