<div class="nav2container">
  <div class="nav2items smallnavlogo">
    <a href="#"><%= image_tag 'logofeelings.png'%></a>

    <div class="nav2items2">
      <div class="nav2subitems">
        <a href="#">Men <i class="fa fa-angle-down" aria-hidden="true"></i></a>
      </div>
      <div class="nav2subitems">
        <a href="#">Woman <i class="fa fa-angle-down" aria-hidden="true"></i></a>
      </div>
      <div class="nav2subitems">
        <a href="#">Accessories <i class="fa fa-angle-down" aria-hidden="true"></i></a>
      </div>
      <div class="nav2subitems">
        <a href="#">Contact</a>
      </div>
      <div class="nav2subitems">
        <a href="#">About</a>
      </div>
    </div>
  </div>

  <div class="nav2items navend">
    <div class="nav2subitems">
      <a href="#">Connexion</a>
    </div>
    <div class="nav2subitems basket">
      <a href="#">|</a>
    </div>
    <div class="nav2subitems">
      <a href="#"> <i class="fa fa-shopping-cart " aria-hidden="true"></i></a>
    </div>
  </div>

</div>

