<div class="nav2container">
  <div class="nav2items about">
    <a href="#">CeramiQ</a>
  </div>
  <div class="nav2items smallnavlogo">
    <a href="#"><%= image_tag 'logofeelings.png'%></a>
  </div>
  <div class="nav2items">
    <div class="nav2subitems">
      <a href="#">Login/Sign Up</a>
    </div>
    <div class="nav2subitems">
      <a href="#">Help</a>
    </div>
    <div class="nav2subitems">
      <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
    </div>
    <div class="nav2subitems">
      <a href="#">English</a>
    </div>
  </div>

</div>
