<h1>Order</h1>
<ul>
  <li>Status: <%= @order.state %></li>
  <% @order.orderlines.each do |orderline| %>
  <li>Item: <%= orderline.product %></li>
  <% end %>
  <li>Amount: <%= humanized_money_with_symbol(@order.amount) %></li>
<ul>
