<!-- CAROUSEL -->

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active ">
      <%= image_tag 'ceracar.png', class: "tales" %>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <%= image_tag'ceracarousel.jpg', class: "tales" %>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <%= image_tag'caroutest.png', class: "tales" %>
      <div class="carousel-caption">
      </div>
    </div>
  </div>
</div>


<!-- Gender -->

<div class="container">
  <div class="row">

    <div class="col-xs-12 col-md-6">
      <div class="ceratech">
        <div>
        <p>CERAMIQ <i class="fa fa-registered" aria-hidden="true"></i></p>
        <p>Technology</p>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-md-3">
      <div class="male">
        <div>
        <p>Collection</p>
        <h4>Homme</h4>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="female">
        <div>
        <p>Collection</p>
        <h4>Femme</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- CATEGORIES CARDS -->

<div class="container">
  <div class="row">

    <div class="col-xs-12 col-md-6  category-card run-card">
        <div class="card-description">
          <h2>Running</h2>
        </div>
        <a class="card-link" href="#" ></a>
    </div>

    <div class="col-xs-12 col-md-6  category-card canyon-card">
        <div class="card-description">
          <h2>Canyoning</h2>
        </div>
        <a class="card-link" href="#" ></a>
    </div>

    <div class="col-xs-12 col-md-12 category-card ski-card">
        <div class="card-description">
          <h2>Ski</h2>
        </div>
        <a class="card-link" href="#" ></a>
    </div>


    <div class="col-xs-12 col-md-6 category-card hiking-card">
        <div class="card-description text-center">
          <h2>Hiking</h2>
        </div>
        <a class="card-link" href="#" ></a>
    </div>

    <div class="col-xs-12 col-md-6  category-card climbing-card">
        <div class="card-description text-center">
          <h2>Climbing</h2>
        </div>
        <a class="card-link" href="#" ></a>
    </div>
  </div>
</div>

