<!-- CAROUSEL -->

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active ">
      <%= image_tag 'ceracar.png', class: "tales" %>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <%= image_tag'ceracarousel.jpg', class: "tales" %>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <%= image_tag'caroutest.png', class: "tales" %>
      <div class="carousel-caption">
      </div>
    </div>
  </div>
</div>


<!-- Gender -->

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="ceratech hvr-underline-from-center">
        <div>
        <p>CERAMIQ <i class="fa fa-registered" aria-hidden="true"></i></p>
        <p>Technology</p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="male hvr-underline-from-center">
        <div>
        <p>Collection</p>
        <h4>Homme</h4>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="female hvr-underline-from-center-for-women">
        <div>
        <p>Collection</p>
        <h4>Femme</h4>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- CATEGORIES -->

<div class="wrapper wrapper-category">

  <div class="container">
    <div class="row">
      <div class=" col-xs-6 col-xs-offset-3 category-line">
        <hr style="color:#EEEEEE; width: 87px">
        <div class="category-head"><h2> Pick your Sport</h2></div>
        <hr style="color:#EEEEEE; width: 87px">
      </div>
    </div>
  </div>

  <div class="container cera-categories-container">
    <div class="row">

      <div class="col-xs-12 col-md-3">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front cera-cat-run"></div>
            <div class="back">
              <p>CeramiQ <br> Running</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-3">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front cera-cat-fitness"></div>
            <div class="back">
              <p>CeramiQ <br> Fitness</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-3">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front cera-cat-ski"></div>
            <div class="back">
              <p>CeramiQ <br> Ski</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-3">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front cera-cat-canyon"></div>
            <div class="back">
              <p>CeramiQ <br> Canyoning</p>
            </div>
          </div>
        </div>
      </div>

      <div class="category-special">
        <div class="col-xs-12 col-md-3">
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div class="front cera-cat-hike"></div>
              <div class="back">
                <p>CeramiQ <br> Hiking</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-md-3 cat-hike">
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div class="front cera-cat-climb"></div>
              <div class="back">
                <p>CeramiQ <br> Climbing</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-md-3">
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div class="front cera-cat-bike"></div>
              <div class="back">
                <p>CeramiQ <br> Cycling</p>
              </div>
            </div>
          </div>
        </div>
      </div>






    </div>
  </div>


</div>
























<!-- <div class="container ambassadors-container">
  <div class="row">
    <div class="col-xs-6 ceramultilogo"></div>
    <div class="col-xs-6">
      <div class="category-card amba-1">
          <div class="card-description">
            <h2>Running</h2>
          </div>
          <a class="card-link" href="#" ></a>
      </div>

      <div class="category-card amba-2">
          <div class="card-description">
            <h2>Canyoning</h2>
          </div>
          <a class="card-link" href="#" ></a>
      </div>

      <div class="category-card amba-3">
          <div class="card-description">
            <h2>Skiing</h2>
          </div>
          <a class="card-link" href="#" ></a>
      </div>


      <div class="category-card amba-4">
          <div class="card-description text-center">
            <h2>Hiking</h2>
          </div>
          <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div> -->


