.gray-space {
  height: 61px;
  width: 100%;
  background-color: #F7F7F7;
  display:flex;
  justify-content: center;
  align-items: center;
  color: black;
  padding-bottom: 10px;
  h3 {
    letter-spacing: 2px;
    font-weight: lighter;
  }
}

.content {
  border: 1px solid #E5E5E5;
  display:flex;
}

.left-part {
  width: 216px;
  min-height: 100vh;
  z-index: 998;
  padding: 24px;
}

.left-part-title {
  font-size: 24px;
  line-height: 1;
  min-height: 23px;
  text-transform: uppercase;
  margin-bottom: 21px;
}

.left-part-line {
  color: #E5E5E5;
  margin-bottom: 21px;
}

ul {
  list-style-type: none;
  padding-left: 20px;
  margin-bottom: 32px;
  a {
    color: #111111;
    font-size:14px;
    line-height: 24px;
  };
  a:hover {
    color: #8d8d8d;
  }
}

.right-part{
  width: 1065px;
}

.cat-banner {
  width: 100%;
  height: 385px;
  background-position: center;
  background-size: cover !important;
}

.cat-banner-empty {
  background: url('qallover.png');
}

.container-indexes{
  width:100%;
}

.cat-prod-grid-banner {
  width: 220px;
  text-align: center;
  height: 220px;
  cursor: pointer;
  background-position: center;
  background-size: cover !important;
  margin-bottom: 5px;
}

.cat-prod-grid-colors {
  font-size: 11px;
  line-height: 1.5em;
  color: #666;
}

.prod-line {
  width: 220px;
}

.cat-prod-name {
  font-size: 12px;
  line-height: 13px;
}

.cat-prod-name-title {
  font-weight: bold;
  color: #222;
}
.cat-prod-name-subtitle {
  font-weight: 400;
  color: #666;
  font-style: normal;
}

.cat-prod-price {
  font-weight: 400;
  color: #666;
  font-style: normal;
  font-size: 12px;
  line-height: 1.5em;
}


.cat-prod {
  position: relative;
  padding: 6px;
  margin-bottom: 30px;
}

.cat-prod:hover {
  border: 2px solid #EEE;
}


.prod-men-banner{
  background-image: url('cerapanorama.jpg');
  background-position: center-top;
  background-size: cover !important;
  margin-bottom: 25px;
  margin-left: 21px;
}

.prod-women-banner{
  background-image: url('chamonix-18.jpg');
  background-position: center-top;
  background-size: cover !important;
  margin-bottom: 25px;
  margin-left: 21px;
}

.prod-accessories-banner{
  background-image: url('productshot.jpg');
  background-position: center-top;
  background-size: cover !important;
  margin-bottom: 25px;
  margin-left: 21px;
}
