<div class="wrapper gray-space">
  <h3>Delivery infos</h3>
</div>

<div class="content">

  <div class="left-part">

    <div class="left-part-title">
      <=% @category.name %>
    </div>

    <div class="left-part-line"> <hr> </div>
    <div class="left_part_genders">
      <ul>
        <li><%= link_to "Men", men_categories_path(@category)%></li>
        <li><%= link_to "Women", women_categories_path(@category)%></li>
        <li><%= link_to "Accessories", accessories_path(@category)%></li>
      </ul>
    </div>
    <div class="left-part-types">
      <ul>
        <% @categories.each do |c| %>
          <li> <%= link_to "#{c.name}", category_path(c.id) %> </li>
        <%end%>
      </ul>

    </div>
  </div>

  <div class="right-part">
  </div>

</div>

