.prod-showcase {
  margin: 40px 89px;
}

.prod-showcase-images {
  height: 620px;
}

.prod-showcase-images-colors {
  margin-bottom: 1px;
}

.mini-img {
  height: 60px;
  width: 60px;
}

.prod-showcase-options {
  width: 380px;
  height: 620px;
}

.prod-showcase-title {
  font-size: 38px;
  line-height: 1.1;
  color: #333;
  letter-spacing: 2px;
}


