.prod-showcase {
  margin: 40px 89px;
}

.prod-showcase-images {
  height: 620px;
}

.prod-showcase-images-colors {
  margin-bottom: 1px;
}

.mini-img {
  height: 60px;
  width: 60px;
}

.prod-showcase-options {
  width: 380px;
  height: 620px;
}

.prod-showcase-title {
  font-size: 38px;
  line-height: 1.1;
  color: #333;
  letter-spacing: 2px;
}

.prod-showcase-category {
  text-transform: uppercase;
  max-width: 380px;
  letter-spacing: -1px;
  color: #666;
  font-size: 14px;
  line-height: 14px;
  font-style: italic;
  margin-bottom: 8px;
  margin-top: 5px;
}

.prod-showcase-price {
  font-size: 19px;
  height: 20px;
  line-height: 18px;
  padding-top: 0px;
  margin-top: 4px;
  color: #222;
}

.prod-showcase-line{
  margin: 40px auto 0;
  color: #E5E5E5;
}
